* {
  font-family: 'Karla', sans-serif;
}

body {
  background-color: #fdfdfd!important;
  margin: 0px;
}

@media screen and (max-width: 480px) {
  .titulo-pagina {
    h1 {
      font-size: 24px;
    }
  }
}

.cdk-global-scrollblock {
  overflow: hidden !important;
  position: unset !important;
}