<h1 mat-dialog-title *ngIf="data.atendimento">Atendimento</h1>
<h1 mat-dialog-title *ngIf="data.agendamento_id">Editar agendamento</h1>
<h1 mat-dialog-title *ngIf="!data.atendimento && !data.agendamento_id">Novo agendamento</h1>
<div mat-dialog-content>
  <form fxLayout="column" [formGroup]="horarioForm" autocomplete="off">
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput formControlName="titulo" required>
      <mat-error *ngIf="horarioForm.get('titulo').hasError('required')">Este campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Começarei as</mat-label>
      <input cdkFocusInitial matInput [ngxTimepicker]="pickerInicio" [disableClick]="true" [format]="24"
        formControlName="inicio" readonly>
      <ngx-material-timepicker [theme]="temaPrimario" #pickerInicio></ngx-material-timepicker>
      <ngx-material-timepicker-toggle [for]="pickerInicio" matSuffix>
        <mat-icon ngxMaterialTimepickerToggleIcon>access_time</mat-icon>
      </ngx-material-timepicker-toggle>
      <mat-error *ngIf="horarioForm.get('inicio').getError('required')">Este campo é obrigatório</mat-error>
    </mat-form-field>
    <div fxLayoutGap="8px" fxLayout="column">
      <div fxLayoutAlign="space-between center">
        <div style="font-weight: 600;">
          Sessões:
        </div>
        <div>
          {{ horarioForm.get('quantidade').value }}
        </div>
      </div>
      <div>
        <mat-slider formControlName="quantidade" [min]="1" [max]="5" [step]="1" [thumbLabel]="true" fxFlex></mat-slider>
      </div>
    </div>
    <div fxLayoutGap="8px" fxLayout="column">
      <div fxLayoutAlign="space-between center">
        <div style="font-weight: 600;">
          Duração da sessão (min):
        </div>
        <div>
          {{ horarioForm.get('duracao').value }}
        </div>
      </div>
      <div>
        <mat-slider formControlName="duracao" [min]="10" [max]="60" [step]="5" [thumbLabel]="true" fxFlex>
        </mat-slider>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="excluir()" *ngIf="data.agendamento_id" color="warn">EXCLUIR</button>
  <button mat-button [mat-dialog-close]="null">FECHAR</button>
  <button mat-button [disabled]="!horarioForm.valid || horarioForm.disabled" (click)="confirmar()">SALVAR</button>
</div>