@import '../../../../../../styles/variables.scss';

.extrapolou {
  color: $warn;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

.mat-fab {
  position: fixed;
  bottom: 24px;
  right: 32px;
}

.header-atender-dias {
  font-weight: 600;
  font-size: 13px;
}

.ultimos-acontecimentos {
  overflow-y: auto;
  height: 300px;
  .container-esquerdo {
    height: 100%;
    .timeline-circulo {
      border-radius: 50%;
      background-color: $primary;
      padding: 8px;
    }
    .timeline-traco {
      width: 1.6px;
      background-color: #bbb;
    }
  }
  .evento-descricao {
    font-weight: 600;
    font-size: 16px;
    color: $accent;
  }
}