<div *ngIf="!carregando" fxLayout="column" fxLayoutGap="24px">
  <div fxLayout="column" *ngIf="prontoParaComecar">
    <div fxLayoutAlign="space-between center" fxLayout="row" fxFlex="100">
      <div fxLayoutGap="8px" fxFlex="nogrow" fxLayoutAlign="center center">
        <button mat-button (click)="iniciar()" *ngIf="parado" color="accent" [disabled]="!prontoParaComecar">
          {{ counter > 0 ? 'CONTINUAR' : 'INICIAR'}}
        </button>
        <button mat-button *ngIf="!parado" (click)="pausar()" color="accent">
          PAUSAR
        </button>
      </div>
      <h3 fxFlex fxLayoutAlign="center center"
        [ngClass]="{'extrapolou': extrapolou, 'animate-flicker': parado && counter > 0}">
        {{ countDown }}
      </h3>
      <div fxFlex="nogrow" fxLayoutAlign="center center">
        <button mat-button [disabled]="!interval" (click)="parar()" color="warn">
          FINALIZAR
        </button>
      </div>
    </div>
    <mat-progress-bar *ngIf="limite" [color]="extrapolou ? 'warn' : 'primary'" mode="determinate"
      [value]="(counter*100)/limite"></mat-progress-bar>
    <div fxFlex="100">
      <mat-divider></mat-divider>
    </div>
  </div>
  <div [ngSwitch]="tipoArtefatoAdd" fxFlex>
    <app-salvar-nota *ngSwitchCase="1" [(nota)]="novaNota" (cancelado)="tipoArtefatoAdd = null"></app-salvar-nota>
    <app-salvar-arquivo *ngSwitchCase="2" (cancelado)="tipoArtefatoAdd = null"></app-salvar-arquivo>
    <app-gravar-audio *ngSwitchCase="3" (cancelado)="tipoArtefatoAdd = null"></app-gravar-audio>
    <app-avaliacao-detalhe *ngSwitchCase="4" (cancelado)="tipoArtefatoAdd = null" [sessao]="true">
    </app-avaliacao-detalhe>
    <app-anamnese-detalhe *ngSwitchCase="5" (cancelado)="tipoArtefatoAdd = null" [sessao]="true"></app-anamnese-detalhe>
    <div *ngSwitchCase="0">
      <div fxLayout="column" fxLayoutGap="16px">
        <div fxLayoutAlign.gt-xs="space-between center" fxLayout.xs="column">
          <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="star center">
            <button mat-icon-button (click)="location.back()">
              <mat-icon>{{ sessao ? 'close' : 'arrow_back' }}</mat-icon>
            </button>
            <h3>Configurar sessão</h3>
          </div>
          <div fxLayoutAlign.xs="center" fxLayoutGap="8px">
            <button fxFlex.xs mat-stroked-button color="accent" (click)="falta()">REGISTRAR FALTA</button>
            <button fxFlex.xs mat-raised-button color="accent" (click)="aplicarConfiguracoes();"
              [disabled]="!sessaoForm.valid">TUDO PRONTO</button>
          </div>
        </div>
        <section fxLayout="row" fxLayoutGap="16px" fxLayout.lt-md="column">
          <form [formGroup]="sessaoForm" fxLayout="column" fxLayoutGap="16px" autocomplete="off" fxFlex="50">
            <div fxLayout="column" fxLayoutAlign="start">
              <h4 class="descricao-configuracao">Quantas sessões você irá realizar?</h4>
              <div>
                <mat-form-field appearance="outline" fxFlex="200px" fxFlex.xs>
                  <input matInput min="1" class="configuracao-field" formControlName="quantidade" type="number">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start">
              <h4 class="descricao-configuracao">Quantos minutos cada sessão?</h4>
              <div>
                <mat-form-field appearance="outline" fxFlex="200px" fxFlex.xs>
                  <input matInput max="60" min="1" class="configuracao-field" formControlName="duracao" type="number">
                </mat-form-field>
              </div>
            </div>
          </form>
          <mat-divider fxHide.xs [vertical]="true"></mat-divider>
          <div class="container-resultado" fxFlex.gt-sm fxLayoutGap.lt-md="16px" fxLayoutGap="16%"
            fxLayoutAlign="center center" fxLayoutAlign.lt-sm="space-between start">
            <div fxLayout="column" fxLayoutAlign="center center">
              <span class="resultado">
                {{ tempoTotal() }}</span>
              <h4>Tempo total</h4>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
              <span class="resultado">
                {{ fimDaSessao() }}</span>
              <h4>Hora de términio</h4>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div *ngSwitchDefault>
      <div>
        <section fxLayout="column" fxLayoutGap="8px">
          <h3>Adicionar</h3>
          <mat-nav-list>
            <mat-list-item *ngFor="let artefato of artefatos" (click)="tipoArtefatoAdd = artefato.tipo">
              <mat-icon mat-list-icon style="opacity: 0.72;">{{ artefato.icon }}</mat-icon>
              <a mat-line>
                {{ artefato.texto }}
              </a>
            </mat-list-item>
          </mat-nav-list>
        </section>
        <mat-divider *ngIf="planejamento"></mat-divider>
        <section *ngIf="planejamento" class="planejamento">
          <h3>Último planejamento</h3>
          <div>
            <span>{{ planejamento.planejamento_texto }}</span>
          </div>
          <h4>Objetivos</h4>
          <div>
            <ul>
              <li *ngFor="let objetivo of planejamento?.objetivos"> {{ objetivo.conteudo }}
                <ol>
                  <li *ngFor="let atividade of objetivo?.atividades">{{ atividade.conteudo }}</li>
                </ol>
              </li>
            </ul>
          </div>
          <h4 *ngIf="planejamento.materiais">Materiais</h4>
          <mat-chip-list *ngIf="planejamento.materiais">
            <mat-chip *ngFor="let material of planejamento.materiais?.split(',')">{{ material }}</mat-chip>
          </mat-chip-list>
        </section>
      </div>
    </div>
  </div>
</div>