@import './../../../../../styles/variables.scss';

.titulo-linha {
  color: $accent;
  font-weight: 600;
}

.mat-fab {
  position: fixed;
  bottom: 24px;
  right: 32px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.subtitulo-linha {
  color: rgba(0, 0, 0, 0.54);
}

.mat-list-item:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

@media screen and (max-width: 480) {
  .mat-list-item:hover {
    background-color: transparent;
  } 
  .mat-list-icon:active {
    background-color: rgba(0,0,0,0.1);
  }
}