<div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px">
  <button mat-icon-button (click)="location.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Pacientes</h1>
</div>
<div fxLayout="column" fxLayoutGap="8px">
  <mat-list>
    <mat-list-item *ngFor="let paciente of pacientes" [routerLink]="['/cadastros/pacientes/novo']">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <h4 mat-line class="titulo-linha">{{paciente.nome}}</h4>
      <p mat-line class="subtitulo-linha">{{paciente.idade}} anos</p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>

<button mat-fab color="accent" [routerLink]="['/cadastros/pacientes/novo']">
  <mat-icon>add</mat-icon>
</button>