<div fxFlex fxLayout="column" class="card-info-numero" fxLayoutAlign="center center">
  <h2 fxFlex [countUp]="sessoes" [options]="countUpOptions">
    0
  </h2>
  <div fxFlex="nogrow" class="titulo">
    Sessões
  </div>
</div>
<div fxFlex fxLayout="column" class="card-info-numero" fxLayoutAlign="center center">
  <h2 fxFlex [options]="countUpOptionsMoeda" [countUp]="recebido">
    0
  </h2>
  <div fxFlex="nogrow" class="titulo">
    Recebidos
  </div>
</div>
<div fxFlex fxLayout="column" class="card-info-numero" fxLayoutAlign="center center">
  <h2 fxFlex [countUp]="receber" [options]="countUpOptionsMoeda">
    0
  </h2>
  <div fxFlex="nogrow" class="titulo">
    A receber
  </div>
</div>