<div fxLayout="column" style="height: 100%" fxLayoutGap="16px">
  <div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px" fxFlex="nogrow">
    <button mat-icon-button (click)="location.back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Resumo da sessão</h1>
  </div>
  <div fxFlex fxLayout="column">
    <div class="resumo-item">
      <div class="item-descricao">
        <span>Data</span>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="resumo-item">
      <div class="item-descricao">
        <span>Hora</span>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="resumo-item">
      <div class="item-descricao">
        <span>Quantidade de sessões</span>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="resumo-item">
      <div class="item-descricao">
        <span>Tempo total</span>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="resumo-item">
      <div class="item-descricao">
        <span>Valor</span>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="resumo-item">
      <div class="item-descricao">
        <span>Pago</span>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="resumo-item">
      <div class="item-descricao">
        <span>Planejamento</span>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="resumo-item">
      <div class="item-descricao">
        <span>Evolução</span>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="resumo-item">
      <div class="item-descricao">
        <span>Mídias</span>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>