<div fxLayout="column" fxLayoutGap="16px">
  <ng-container *ngIf="!processando">
    <div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px" fxFlex="nogrow">
      <button mat-icon-button (click)="location.back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>Resumo da sessão</h1>
    </div>
    <div fxFlex fxLayout="column">
      <div class="resumo-item">
        <div class="item-conteudo" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="item-descricao">Data</span>
            <span class="item-valor">
              {{ sessao.sessao_data | dataHora:'LL' }}
            </span>
          </div>
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="resumo-item">
        <div class="item-conteudo" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="item-descricao">Hora início</span>
            <span class="item-valor">
              {{ sessao.hora_inicio | dataHora:'LT' }}
            </span>
          </div>
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="resumo-item">
        <div class="item-conteudo" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="item-descricao">Hora final</span>
            <span class="item-valor">
              {{ sessao.hora_fim | dataHora:'LT' }}
            </span>
          </div>
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="resumo-item">
        <div class="item-conteudo" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="item-descricao">Quantidade de sessões</span>
            <span class="item-valor">
              {{ sessao.quantidade }}
            </span>
          </div>
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="resumo-item">
        <div class="item-conteudo" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="item-descricao">Tempo total</span>
            <span class="item-valor">
              {{ calculaTempoTotal() }}
            </span>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="resumo-item">
        <div class="item-conteudo" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="item-descricao">Valor</span>
            <span class="item-valor">
              {{ sessao.valor_sessao || 0 | moeda:true }}
            </span>
          </div>
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="resumo-item">
        <div class="item-conteudo" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="item-descricao">Valor pago</span>
            <span class="item-valor">{{ calculaValorPago() | moeda:true }}</span>
          </div>
          <div>
            <button mat-icon-button (click)="mostrarValorPago = !mostrarValorPago" color="accent">
              <mat-icon [ngClass]="{'rotacao-ida': mostrarValorPago, 'rotacao-volta': !mostrarValorPago}">expand_more
              </mat-icon>
            </button>
          </div>
        </div>
        <div [ngClass]="{'expandir': mostrarValorPago, 'esconder': !mostrarValorPago}">
          <ng-container *ngIf="mostrarValorPago && sessao?.pagamentos">
            <div [ngClass]="{'slide-right': mostrarValorPago, 'sumir': !mostrarValorPago}" fxLayout="column"
              fxLayoutGap="8px">
              <mat-selection-list #listaPagamentos>
                <div fxLayoutAlign="space-between center">
                  <div mat-subheader>Pagamentos</div>
                  <button *ngIf="listaPagamentos.selectedOptions.selected.length" mat-icon-button>
                    <mat-icon [matBadge]="listaPagamentos.selectedOptions.selected.length" matBadgeColor="warn"
                      style="opacity: .8;">delete
                    </mat-icon>
                  </button>
                </div>
                <mat-list-option *ngFor="let pagamento of sessao.pagamentos">
                  <mat-icon mat-list-icon>
                    {{ pagamento.tipo_pagamento === tiposPagamento.dinheiro ? 'money' : 'credit_card' }}</mat-icon>
                  <div mat-line style="font-size: 24px; opacity: .96;">{{ pagamento.valor_pago | moeda:true }}</div>
                  <div mat-line style="font-weight: 600; opacity: .72;">{{ pagamento.tipo_pagamento_descricao }}</div>
                </mat-list-option>
              </mat-selection-list>
            </div>
          </ng-container>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="resumo-item">
        <div class="item-conteudo" fxLayoutAlign="space-between center">
          <span>Planejamento</span>
          <button mat-icon-button color="accent">
            <mat-icon>create</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="resumo-item">
        <div class="item-conteudo" fxLayoutAlign="space-between center">
          <span>Evolução</span>
          <button mat-icon-button color="accent">
            <mat-icon>create</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="resumo-item">
        <div class="item-conteudo" fxLayoutAlign="space-between center">
          <span>Mídias</span>
          <button mat-icon-button color="accent">
            <mat-icon>collections</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #carregando>
    <h4>carregando...</h4>
  </ng-template>
</div>