<div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px">
  <button mat-icon-button (click)="location.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Novo Paciente</h1>
</div>
<form [formGroup]="pacienteForm" fxLayout="column">
  <mat-form-field appearance="outline" fxFlex>
    <mat-label>Nome</mat-label>
    <input type="text" matInput>
  </mat-form-field>
  <div fxLayout="row wrap" fxFlex fxLayoutGap.gt-xs="8px">
    <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex>
      <mat-label>Data de nascimento</mat-label>
      <input [matDatepicker]="picker" matInput disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex>
      <mat-label>Sexo</mat-label>
      <mat-select>
        <mat-option>Masculino</mat-option>
        <mat-option>Feminino</mat-option>
        <mat-option>Outro</mat-option>
        <mat-option>Não informado</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row wrap" fxFlex fxLayoutGap.gt-xs="8px">
    <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex>
      <mat-label>Nome da mãe</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex>
      <mat-label>Nome do pai</mat-label>
      <input type="text" matInput>
    </mat-form-field>
  </div>
  <h3>Contato</h3>
  <mat-form-field appearance="outline" fxFlex>
    <mat-label>E-mail</mat-label>
    <input type="email" matInput>
  </mat-form-field>
  <div fxFlex fxLayout="column" formArrayName="telefones" *ngFor="let telefone of fones.controls; let i = index">
    <div fxLayoutAlign="space-between center">
      Telefone {{ i + 1 }}
      <button mat-icon-button color="warn" (click)="removerTelefone(fones.length - 1)" *ngIf="i > 0">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
    <div fxLayoutGap.gt-xs="8px" [formGroupName]="i">
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Telefone</mat-label>
        <input type="tel" matInput formControlName="numero">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option [value]="'C'">Celular</mat-option>
          <mat-option [value]="'W'">WhatsApp</mat-option>
          <mat-option [value]="'F'">Fixo</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>
  <div fxLayoutAlign="space-between">
    <button mat-icon-button color="accent" (click)="addTelefone()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <h3>Endereço</h3>
  <div fxLayout="row wrap" fxLayoutGap.gt-xs="8px">
    <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex="30">
      <mat-label>CEP</mat-label>
      <input type="text" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex>
      <mat-label>Logradouro</mat-label>
      <input type="text" matInput>
    </mat-form-field>
  </div>
  <div fxLayout="row wrap" fxLayoutGap.gt-xs="8px">
    <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex>
      <mat-label>Numero</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex>
      <mat-label>Complemento</mat-label>
      <input type="text" matInput>
    </mat-form-field>
  </div>
  <div fxLayout="row wrap" fxLayoutGap.gt-xs="8px">
    <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex="20">
      <mat-label>Estado</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex>
      <mat-label>Cidade</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex>
      <mat-label>Bairro</mat-label>
      <input type="text" matInput>
    </mat-form-field>
  </div>
</form>
<button mat-fab color="accent" [routerLink]="['/cadastros/pacientes']">
  <mat-icon>save</mat-icon>
</button>