.mat-fab {
  position: fixed;
  bottom: 24px;
  right: 32px;
}

.alinhar-esquerda {
  text-align: end;
}

.texto {
  opacity: .72;
  font-size: 24px;
  font-weight: 500;
  margin: 8px 0;
}

.rotulo {
  font-weight: 600;
}

.titulo {
  margin: 16px 0;
  font-size: 20px;
  font-weight: 500;
  display: block;
}

.texto-menor {
  opacity: .8;
  font-size: 18px !important;
  font-weight: 500;
}

.texto-pequeno {
  font-size: 14px !important;
  font-weight: 600 !important;
  opacity: .80 !important;
}

.enfase {
  font-size: 24px;
  opacity: .96;
}

.icone {
  opacity: .72;
}

.nome-grande {
  font-size: xx-large;
}

.nome-paciente {
  font-size: xx-large;
  margin: 16px 0;
}

.container-cadastro {
  height: 80vh;
  min-height: 500px;
  overflow-y: auto;
  padding-right: 16px;
}

.container-visualizacao {
  overflow-y: auto;
  margin: 0 16px;
}
