<div fxLayout="column">
  <ng-container *ngIf="!carregandoLista; else carregando">
    <ng-container *ngIf="atendimentos?.length; else vazia">
      <mat-nav-list>
        <a mat-list-item *ngFor="let atendimento of atendimentos"
          [routerLink]="['/atendimentos/' + atendimento.atendimento_id]">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <h4 mat-line class="titulo-linha">{{atendimento.nome_completo}}</h4>
          <p mat-line class="subtitulo-linha">Desde {{atendimento.data_inicio | dataHora: 'LL'}} </p>
        </a>
      </mat-nav-list>
    </ng-container>
  </ng-container>
</div>
<ng-template #carregando>
  <div fxFlex fxLayout="column">
    <h4 style="opacity: 0.8;">Carregando atendimentos</h4>
  </div>
</ng-template>
<ng-template #vazia>
  <h4 style="opacity: 0.8;">Seus atendimentos aparecerão aqui!</h4>
</ng-template>