<h1 mat-dialog-title>Novo agendamento</h1>
<div mat-dialog-content>
  <form fxLayout="column" [formGroup]="horarioForm" autocomplete="off">
    <mat-button-toggle-group formControlName="diaSemana">
      <mat-button-toggle value="DOM"> D </mat-button-toggle>
      <mat-button-toggle value="SEG"> S </mat-button-toggle>
      <mat-button-toggle value="TER"> T </mat-button-toggle>
      <mat-button-toggle value="QUA"> Q </mat-button-toggle>
      <mat-button-toggle value="QUI"> Q </mat-button-toggle>
      <mat-button-toggle value="SEX"> S </mat-button-toggle>
      <mat-button-toggle value="SAB"> S </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Começarei as</mat-label>
      <input matInput [ngxTimepicker]="pickerInicio" [disableClick]="true" [format]="24" formControlName="hora"
        readonly>
      <ngx-material-timepicker [theme]="temaPrimario" #pickerInicio></ngx-material-timepicker>
      <ngx-material-timepicker-toggle [for]="pickerInicio" matSuffix>
        <mat-icon ngxMaterialTimepickerToggleIcon>access_time</mat-icon>
      </ngx-material-timepicker-toggle>
      <mat-error *ngIf="horarioForm.get('hora').getError('required')">Este campo é obrigatório</mat-error>
    </mat-form-field>
    <div fxLayoutGap="8px" fxLayout="column">
      <div fxLayoutAlign="space-between center">
        <div style="font-weight: 600;">
          Sessões:
        </div>
        <div>
          {{ horarioForm.get('qtdSessoes').value }}
        </div>
      </div>
      <div>
        <mat-slider formControlName="qtdSessoes" [min]="1" [max]="5" [step]="1" [thumbLabel]="true" fxFlex></mat-slider>
      </div>
    </div>
    <div fxLayoutGap="8px" fxLayout="column">
      <div fxLayoutAlign="space-between center">
        <div style="font-weight: 600;">
          Duração da sessão (min):
        </div>
        <div>
          {{ horarioForm.get('duracao').value }}
        </div>
      </div>
      <div>
        <mat-slider formControlName="duracao" [min]="10" [max]="60" [step]="5" [thumbLabel]="true" fxFlex>
        </mat-slider>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">CANCELAR</button>
  <button mat-button [disabled]="!horarioForm.valid" (click)="confirmar()">CRIAR</button>
</div>