<div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px">
  <button mat-icon-button (click)="sessao ? cancelado.emit() : location.back()">
    <mat-icon>{{ sessao ? 'close' : 'arrow_back' }}</mat-icon>
  </button>
  <h1>Anamnese</h1>
</div>
<div fxLayout="column" fxLayoutGap="8px">
  <app-questao-item *ngFor="let questao of questoes; let i = index" [atendimento]="atendimentoId"
    [questaoResposta]="questao" (remover)="questoes.splice(i, 1)">
  </app-questao-item>
  <app-questao-item [questaoResposta]="questaoRespostaNova" [atendimento]="atendimentoId"
    (adicionarQuestao)="carregarAnamneses()">
  </app-questao-item>
</div>