<h1 mat-dialog-title>{{ data?.travarBotoes ? 'Configurar sessão' : 'Novo agendamento'}}</h1>
<div mat-dialog-content>
  <form fxLayout="column" [formGroup]="horarioForm" fxLayoutGap="8px" autocomplete="off">
    <mat-button-toggle-group formControlName="diaSemana">
      <mat-button-toggle [value]="0" [disabled]="data.travarBotoes" fxFlex> D </mat-button-toggle>
      <mat-button-toggle [value]="1" [disabled]="data.travarBotoes" fxFlex> S </mat-button-toggle>
      <mat-button-toggle [value]="2" [disabled]="data.travarBotoes" fxFlex> T </mat-button-toggle>
      <mat-button-toggle [value]="3" [disabled]="data.travarBotoes" fxFlex> Q </mat-button-toggle>
      <mat-button-toggle [value]="4" [disabled]="data.travarBotoes" fxFlex> Q </mat-button-toggle>
      <mat-button-toggle [value]="5" [disabled]="data.travarBotoes" fxFlex> S </mat-button-toggle>
      <mat-button-toggle [value]="6" [disabled]="data.travarBotoes" fxFlex> S </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field *ngIf="!data.travarBotoes" appearance="outline" fxFlex>
      <mat-label>Horário</mat-label>
      <input matInput [ngxTimepicker]="pickerInicio" [disableClick]="true" [format]="24" formControlName="hora"
        readonly>
      <ngx-material-timepicker [theme]="temaPrimario" #pickerInicio></ngx-material-timepicker>
      <ngx-material-timepicker-toggle [for]="pickerInicio" matSuffix>
        <mat-icon ngxMaterialTimepickerToggleIcon>access_time</mat-icon>
      </ngx-material-timepicker-toggle>
      <mat-error *ngIf="horarioForm.get('hora').getError('required')">Este campo é obrigatório</mat-error>
    </mat-form-field>
    <div fxLayoutGap="8px" fxLayoutAlign="space-between center">
      <button mat-icon-button color="accent" [disabled]="horarioForm.get('qtdSessoes').value <= 1"
        (click)="horarioForm.patchValue({qtdSessoes: horarioForm.get('qtdSessoes').value - 1})">
        <mat-icon>remove</mat-icon>
      </button>
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Sessões</mat-label>
        <input style="text-align: center;" matInput formControlName="qtdSessoes" [min]="1" [max]="5" readonly required>
      </mat-form-field>
      <button mat-icon-button color="accent" [disabled]="horarioForm.get('qtdSessoes').value >= 5"
        (click)="horarioForm.patchValue({qtdSessoes: horarioForm.get('qtdSessoes').value + 1})">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div fxLayoutGap="8px" fxLayout="column">
      <div fxLayoutAlign="space-between center">
        <div style="font-weight: 600;">
          Duração por sessão (min):
        </div>
        <div>
          {{ horarioForm.get('duracao').value }}
        </div>
      </div>
      <div>
        <mat-slider formControlName="duracao" [min]="10" [max]="60" [step]="5" [thumbLabel]="true" fxFlex>
        </mat-slider>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">CANCELAR</button>
  <button mat-button [disabled]="!horarioForm.valid" (click)="confirmar()" color="accent">CONFIRMAR</button>
</div>