<div fxLayout="column" style="height: 100%;">
  <div fxLayout="column" fxFlex="nogrow">
    <div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px">
      <button mat-icon-button (click)="location.back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>Atendimentos</h1>
    </div>
    <mat-nav-list style="opacity: 0.88;">
      <a mat-list-item [routerLink]="['/atendimentos/agenda']" style="font-weight: 500;">
        <mat-icon mat-list-icon>event</mat-icon> Agenda
      </a>
      <a mat-list-item [routerLink]="['/atendimentos/novo']">
        <mat-icon mat-list-icon>perm_contact_calendar</mat-icon> Novo Atendimento
      </a>
    </mat-nav-list>
  </div>
  <h3 fxFlex="nogrow">Em andamento</h3>
  <div fxFlex class="lista-atendimento">
    <app-atendimentos-lista></app-atendimentos-lista>
  </div>
</div>