.perfil-usuario {
  span {
    text-align: center;
  }
  .nome-completo {
    font-size: 1.2em;
  }
  .email {
    font-size: 1.1em;
  }
  .detalhes-inscricao {
    font-size: 1.1em;
    text-align: center;
  }
  .titulo {
    font-size: 1.4em;
    text-align: center;
  }
}