<div fxLayout="column" style="margin-bottom: 32px;">
  <div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px">
    <button mat-icon-button (click)="location.back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Atendimento</h1>
  </div>
  <div *ngIf="!carregando" fxFlex fxLayoutGap.gt-xs="24px" fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex fxLayout="column" fxLayoutGap="16px">
      <mat-card>
        <img *ngIf="atendimento.paciente.foto" mat-card-image [src]="atendimento.paciente.foto" />
        <mat-card-header>
          <mat-icon style="font-size: 32px; width: 32px; height: 32px; opacity: .72;" *ngIf="!atendimento.paciente.foto"
            mat-card-avatar>account_circle</mat-icon>
          <mat-card-title>{{ atendimento.paciente?.nome_completo }}</mat-card-title>
          <mat-card-subtitle>{{ atendimento.paciente?.data_nascimento | idade }} anos</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <div fxLayoutGap="8px">
        <button mat-stroked-button color="accent" fxFlex>DAR ALTA</button>
        <button mat-stroked-button color="accent" fxFlex [routerLink]="['/atendimentos/1/sessoes/nova']">ATENDER
          AGORA</button>
      </div>
    </div>
    <div fxFlex="60" fxLayout="column" fxLayoutGap="16px">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/atendimentos/' + atendimentoId + '/sessoes']">
          <mat-icon>history</mat-icon> &nbsp; Histórico de sessões
        </a>
        <a mat-list-item [routerLink]="['/atendimentos/' + atendimentoId + '/configuracoes']">
          <mat-icon>settings</mat-icon> &nbsp; Sobre
        </a>
        <a mat-list-item [routerLink]="['/cadastros/' + atendimentoId + 'pacientes/1']">
          <mat-icon>edit</mat-icon> &nbsp; Cadastro
        </a>
        <a mat-list-item [routerLink]="['/atendimentos/' + atendimentoId + '/anamnese/nova']">
          <mat-icon>assignment_ind</mat-icon> &nbsp; Anamnese
        </a>
        <a mat-list-item [routerLink]="['/atendimentos/' + atendimentoId + '/avaliacao/nova']">
          <mat-icon>assessment</mat-icon> &nbsp; Avaliação
        </a>
      </mat-nav-list>
      <div *ngIf="atendimento.queixa" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="quote">format_quote</mat-icon>
        <span style="font-style: italic; font-size: 20px">{{ atendimento.queixa }}</span>
      </div>
      <div fxLayout="column" fxFlex>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h4 style="opacity: 0.88;">ÚLTIMA EVOLUÇÃO</h4>
          <button mat-icon-button [ngClass]="{'rotacao-ida': mostrarMais, 'rotacao-volta': !mostrarMais}"
            (click)="mostrarMais = !mostrarMais">
            <mat-icon>expand_more</mat-icon>
          </button>
        </div>
        <div [ngClass]="{'mostrar-menos': !mostrarMais}" style="font-size: 20px">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere perspiciatis enim doloribus qui cupiditate
          aspernatur maiores animi repellat a beatae, vero odio esse debitis. Nulla possimus commodi iure at quasi!
        </div>
      </div>
    </div>
  </div>
</div>