<div fxLayout="column" style="min-height: 100%;">
  <div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px">
    <button mat-icon-button (click)="location.back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Atendimento</h1>
  </div>
  <div fxFlex fxLayoutGap="16px" fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
      <mat-card class="card-paciente">
        <mat-card-header>
          <img mat-card-avatar class="avatar" [src]="atendimento.paciente.foto" />
          <mat-card-title>{{ atendimento.paciente.nome }}</mat-card-title>
          <mat-card-subtitle>{{ atendimento.paciente.idade }} anos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutGap="4px">
          <div class="content-info">
            Dt. Nascimento: {{ atendimento.paciente.data_nascimento }}
          </div>
          <div class="content-info">
            Responsável: {{ atendimento.responsavel }}
          </div>
          <div class="content-info">
            Queixa: "{{ atendimento.queixa }}"
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions [align]="'end'">
          <button mat-raised-button color="accent" fxFlex.xs>DAR ALTA</button>
          <button mat-raised-button color="accent" fxFlex.xs [routerLink]="['/atendimentos/1/sessoes/nova']">ATENDER
            AGORA</button>
        </mat-card-actions>
      </mat-card>
      <app-informacao-numerica fxHide.gt-sm [sessoes]="atendimento.total_sessoes"
        [recebido]="atendimento.total_recebido" [receber]=atendimento.total_receber></app-informacao-numerica>
      <p>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/atendimentos/' + atendimentoId + '/sessoes']">
            <mat-icon>history</mat-icon> HISTÓRICO DE SESSÕES
          </a>
          <a mat-list-item [routerLink]="['/atendimentos/' + atendimentoId + '/configuracoes']">
            <mat-icon>settings</mat-icon> CONFIGURAÇÕES
          </a>
          <a mat-list-item [routerLink]="['/cadastros/' + atendimentoId + 'pacientes/1']">
            <mat-icon>edit</mat-icon> EDITAR PACIENTE
          </a>
          <a mat-list-item [routerLink]="['/atendimentos/' + atendimentoId + '/anamnese/nova']">
            <mat-icon>assignment_ind</mat-icon> ANAMNESE
          </a>
          <a mat-list-item [routerLink]="['/atendimentos/' + atendimentoId + '/avaliacao/nova']">
            <mat-icon>assessment</mat-icon> AVALIAÇÃO
          </a>
        </mat-nav-list>
      </p>
    </div>
    <mat-divider fxHide.xs [vertical]="true"></mat-divider>
    <div fxFlex="60" fxLayout="column">
      <app-informacao-numerica fxHide.lt-md [sessoes]="atendimento.total_sessoes"
        [recebido]="atendimento.total_recebido" [receber]=atendimento.total_receber></app-informacao-numerica>
      <div fxHide.xs fxLayout="column" fxFlex>
        <div fxLayoutAlign="start center" fxLayoutGap="8px" fxFlex="nogrow">
          <mat-icon>trending_up</mat-icon>
          <h3>Última evolução</h3>
        </div>
        <div>
          <mat-card class="ultima-evolucao">
            <mat-card-content [ngClass]="{'ocultar-evolucao': evolucaoOcultada}">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere perspiciatis enim doloribus qui cupiditate
              aspernatur maiores animi repellat a beatae, vero odio esse debitis. Nulla possimus commodi iure at quasi!
            </mat-card-content>
            <mat-card-actions [align]="'end'">
              <button mat-icon-button (click)="evolucaoOcultada = !evolucaoOcultada">
                <mat-icon *ngIf="evolucaoOcultada">expand_more</mat-icon>
                <mat-icon *ngIf="!evolucaoOcultada">expand_less</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div fxLayoutAlign="start center" fxLayoutGap="8px" fxFlex="nogrow">
          <mat-icon>timeline</mat-icon>
          <h3>Últimos acontecimentos</h3>
        </div>
        <div class="ultimos-acontecimentos" fxLayout="column" fxLayoutGap="8px">
          <div *ngFor="let evento of atendimento.ultimos_acontecimentos" fxLayout="row" fxLayoutAlign="start start"
            fxLayoutGap="8px" fxFlex="45px">
            <div fxLayout="column" class="container-esquerdo" fxLayoutGap="5px" fxLayoutAlign="center center">
              <div class="timeline-circulo" fxFlex="nogrow"></div>
              <div fxFlex class="timeline-traco"></div>
            </div>
            <div fxLayout="column">
              <div class="evento-descricao">
                Criou: {{ evento.descricao }}
              </div>
              <div>
                {{ evento.data }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>