mat-nav-list {
  mat-icon {
    opacity: 0.72;
  }
}

.mostrar-menos{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quote {
  font-size: 96px;
  height: 96px;
  width: 96px;
  opacity: .4;
  @media screen and (max-width: 499px) {
    font-size: 64px;
    height: 64px;
    width: 64px;
  }
}
