<mat-toolbar color="primary" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start center" fxLayoutGap="8px" fxFlex>
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="app-titulo" fxLayoutAlign="center center">
      Domi
    </div>
  </div>
  <div fxFlex fxLayoutAlign="end center">
    <button mat-button (click)="toggleSidenavDireito.emit()">{{ dadosUsuario?.usuario.primeiro_nome }}</button>
  </div>
</mat-toolbar>