<mat-toolbar color="primary">
  <mat-toolbar-row fxFlex fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center" fxLayoutGap="8px" fxFlex>
      <button mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
      <div style="height: 40px; font-size: 24px;" fxLayoutAlign="center center">
        DOMI
      </div>
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <button mat-button [matMenuTriggerFor]="menu">{{ usuario.primeiro_nome }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Perfil</button>
        <button mat-menu-item (click)="sair()">Sair</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>