<mat-toolbar color="primary">
  <mat-toolbar-row fxFlex fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center" fxLayoutGap="8px" fxFlex>
      <button mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
      <div style="height: 40px; font-size: 24px;" fxLayoutAlign="center center">
        DOMI
      </div>
    </div>
    <div fxflex fxLayoutAlign="center center">
      <button mat-button [routerLink]="['/atendimentos/novo']">NOVO ATENDIMENTO</button>
    </div>
    <div fxHide.xs fxFlex fxLayoutAlign="end center">
      <button mat-button>Abhner Araujo</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>