<div fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px">
    <button mat-icon-button (click)="location.back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Novo</h1>
  </div>
  <div>
    <button mat-raised-button color="accent">CRIAR</button>
  </div>
</div>
<div>
  <form action="" [formGroup]="atendimentoForm">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Digite o nome do paciente</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Pesquisa" formControlName="paciente" [matAutocomplete]="auto">
          <mat-icon matSuffix class="icon">search</mat-icon>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let paciente of pacientesFiltrados | async" [value]="paciente">
              {{ paciente.nome }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div *ngIf="atendimentoForm.get('paciente').value && !atendimentoForm.get('paciente').value?.id">
          * Você pode realizar o cadastro do paciente agora ou durante a sessão
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions fxLayoutAlign="center center">
          <ng-container *ngIf="atendimentoForm.get('paciente').value?.id; else criarPaciente">
            <button mat-button color="accent">EDITAR PACIENTE</button>
          </ng-container>
          <ng-template #criarPaciente>
            <button mat-button *ngIf="atendimentoForm.get('paciente').value" color="primary">
              CADASTRAR PACIENTE</button>
          </ng-template>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
    <p>
      * É obrigatório informar o nome do paciente ou do responsável.
    </p>
    <p class="informacoes-atendimento">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Informe o responsável e a data de início</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <div fxLayoutGap.gt-sm="16px" fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-form-field appearance="outline" fxFlex fxFlex.lt-md="100">
              <mat-label>Responsável</mat-label>
              <input matInput placeholder="Nome">
              <mat-icon matSuffix class="icon">person</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex fxFlex.lt-md="100">
              <mat-label>Contato do responsável</mat-label>
              <input type="tel" matInput placeholder="Telefone">
              <mat-icon matSuffix class="icon">phone</mat-icon>
            </mat-form-field>
          </div>
          <div fxLayoutGap.gt-sm="16px" fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-form-field appearance="outline" fxFlex fxFlex.lt-md="100">
              <mat-label>Data de início</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Escolha" readonly="true">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </p>
  </form>
</div>