<div fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px">
    <button mat-icon-button (click)="location.back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Atendimento</h1>
  </div>
  <div>
    <button mat-raised-button color="accent" [disabled]="!atendimentoForm.valid" (click)="criar()">CRIAR</button>
  </div>
</div>
<div *ngIf="!!atendimentoForm">
  <form action="" [formGroup]="atendimentoForm">
    <mat-card>
      <mat-card-content fxLayout="row wrap" fxLayoutGap.gt-xs="8px">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Nome do paciente</mat-label>
          <input matInput placeholder="Pesquisa" formControlName="paciente" [matAutocomplete]="auto" required>
          <mat-icon matSuffix class="icon">search</mat-icon>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let paciente of pacientesFiltrados | async" [value]="paciente">
              {{ paciente.nome_completo }}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>Pesquise pelo nome do paciente e selecione</mat-hint>
          <mat-error *ngIf="atendimentoForm.get('paciente').hasError('required')">Este campo é obrigatório</mat-error>
          <mat-error *ngIf="atendimentoForm.get('paciente').hasError('paciente')">
            {{ atendimentoForm.get('paciente').getError('paciente')?.razao }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
          <mat-label>Data de início</mat-label>
          <input matInput formControlName="data_inicio" (click)="picker.open()" [matDatepicker]="picker"
            placeholder="Escolha" readonly="true" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
          <mat-error *ngIf="atendimentoForm.get('data_inicio').hasError('required')">Este campo é obrigatório
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions fxLayoutAlign="center center">
          <ng-container *ngIf="atendimentoForm.get('paciente').value?.paciente_id; else criarPaciente">
            <button mat-button (click)="cadastrarPaciente(atendimentoForm.get('paciente').value?.paciente_id)"
              color="accent">EDITAR PACIENTE</button>
          </ng-container>
          <ng-template #criarPaciente>
            <button mat-button (click)="cadastrarPaciente()" color="primary">
              CADASTRAR PACIENTE</button>
          </ng-template>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </form>
</div>