<div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px">
  <button mat-icon-button (click)="local.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Cadastros</h1>
</div>
<div fxLayoutGap="16px" fxLayout="column" class="navegacao">
  <mat-nav-list style="opacity: 0.88;">
    <a mat-list-item [routerLink]="['/cadastros/espacos']" style="font-weight: 500;">
      <mat-icon mat-list-icon>place</mat-icon> Locais
    </a>
    <a mat-list-item [routerLink]="['/cadastros/pacientes']">
      <mat-icon mat-list-icon>account_circle</mat-icon> Pacientes
    </a>
  </mat-nav-list>
</div>