<div class="container-principal" fxLayoutAlign.gt-xs="center" fxLayout="column">
  <div fxFlex="nogrow" class="titulo">
    <h1>Domi</h1>
    <h4> Antes de começar, você precisa de um perfil </h4>
  </div>
  <div fxFlex.xs fxLayout="row">
    <div fxFlex="100" fxLayoutAlign="center">
      <mat-card fxFlex.xs="100" fxFlex="50" fxLayoutGap="16px" fxLayout="column">
        <mat-horizontal-stepper #stepper="matHorizontalStepper" labelPosition="bottom">
          <mat-step>
            <ng-template matStepLabel>Sua profissão</ng-template>
            <div fxFlex="50">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Escolha</mat-label>
                <mat-select placeholder="Escolha">
                  <mat-option>Fonoaudiologia</mat-option>
                  <mat-option>Fisioterapia</mat-option>
                  <mat-option>Terapia Ocupacional</mat-option>
                  <mat-option>Nutrição</mat-option>
                  <mat-option>Enfermagem</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperNext color="accent">Próximo</button>
            </div>
          </mat-step>
          <mat-step optional>
            <ng-template matStepLabel>Registro</ng-template>
            <div fxLayout="column" fxFlex="50">
              <mat-form-field appearance="outline">
                <mat-label>Nº da inscrição</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>UF da inscrição</mat-label>
                <mat-select>
                  <mat-option *ngFor="let estado of estados">{{ estado }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Data da inscrição</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious color="accent">Anterior</button>
              <button mat-button matStepperNext color="accent">Próximo</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Espaços</ng-template>
            <div fxLayout="column" fxFlex="50">
              <h4 style="margin: 0 0 8px 0; opacity: .96;">Dê um nome ao seu primeiro espaço</h4>
              <h5 style="margin: 0 0 16px 0; opacity: .5;">Espaços são o contexto do seu trabalho (ex: Pessoal, Clínica
                Abc, etc)
              </h5>
              <mat-form-field appearance="outline">
                <mat-label>Nome do espaço</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious color="accent">Anterior</button>
              <button mat-button color="accent">Finalizar</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card>
    </div>
  </div>
</div>