<div class="container-principal" fxLayoutAlign="center center" fxLayout.xs="column">
  <div fxFlex="50" fxFlex.xs="100">
    <mat-card fxFlex="100" fxLayoutGap="16px" fxLayout="column">
      <mat-card-header fxLayout="column" fxLayoutAlign="center">
        <mat-card-title fxLayoutAlign="center">
          Domi - Fonoaudiologia
        </mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center">
          Digite seu e-mail e senha para acessar ao sistema.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="center center">
        <div fxFlex="60" fxFlex.xs="100" fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center center">
        <div fxFlex="40" fxFlex.xs="90" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center">
          <div>
            <button mat-raised-button fxFlex="100" (click)="entrar()" color="accent">ENTRAR</button>
          </div>
          <div>
            <button mat-stroked-button fxFlex="100" (click)="entrar()" color="accent">CADASTRAR</button>
          </div>
          <div>
            <button mat-button fxFlex="100" (click)="entrar()" color="accent">Esqueci minha senha</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>