<div>
  <div>
    <h1 mat-dialog-title>Finalizar atendimento</h1>
  </div>
  <div mat-dialog-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Duração
          </mat-panel-title>
          <mat-panel-description>
            {{ resumoSessaoForm.get('sessao_duracao').value }}
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div>

  </div>
</div>