<div>
  <div>
    <h1 mat-dialog-title>Finalizar atendimento</h1>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="resumoSessaoForm">
      <mat-accordion style="margin: 0 8px;">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Duração
            </mat-panel-title>
            <mat-panel-description>
              {{ resumoSessaoForm.get('sessao_duracao').value }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="sessao_duracao">
            <mat-hint>hh:mm:ss ou hhmmss</mat-hint>
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Quantidade
            </mat-panel-title>
            <mat-panel-description>
              {{ resumoSessaoForm.get('sessao_quantidade').value }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-slider [min]="1" [max]="5" [step]="1" [thumbLabel]="true" formControlName="sessao_quantidade" fxFlex
            color="accent">
          </mat-slider>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Data
            </mat-panel-title>
            <mat-panel-description>
              {{ formatarData(resumoSessaoForm.get('sessao_data').value, 'LL') }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="sessao_data" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Responsável
            </mat-panel-title>
            <mat-panel-description>
              Clique para ver mais
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="sessao_responsavel">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="sessao_email_responsavel">
            </mat-form-field>
            <mat-checkbox formControlName="sessao_envia_email_responsavel">Enviar e-mail para responsável</mat-checkbox>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cobrança
            </mat-panel-title>
            <mat-panel-description>
              Clique para ver mais
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Valor</mat-label>
              <input matInput formControlName="sessao_valor" currencyMask autocomplete="off" [options]="moedaOptions">
            </mat-form-field>
            <mat-checkbox formControlName="sessao_paga">Paga</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="accent">CANCELAR</button>
    <button mat-button color="accent">FINALIZAR</button>
  </div>
</div>