<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" fxFlex="45px" (mouseover)="hover = true"
  (mouseleave)="hover = false" fxFlex>
  <div fxLayout="column" class="container-esquerdo" fxLayoutGap="5px" fxLayoutAlign="start center">
    <div class="timeline-circulo" [style.background-color]="hover ? config : '0'" fxFlex="nogrow"></div>
    <div fxFlex class="timeline-traco" *ngIf="!ultimo"></div>
  </div>
  <div fxLayout="column" fxFlex>
    <div class="evento-titulo">
      {{ item.titulo }}
    </div>
    <div fxLayoutGap="8px" fxLayout="row">
      {{ item.descricao }}
    </div>
  </div>
</div>