<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" fxFlex="45px" (mouseover)="hover = true"
  (mouseleave)="hover = false" fxFlex [ngClass]="{'timeline-item': config.clicavel}">
  <div fxLayout="column" class="container-esquerdo" fxLayoutGap="5px" fxLayoutAlign="start center">
    <div class="timeline-circulo"
      [style.background-color]="hover && config.clicavel ? config.cores.secundaria : config.cores.principal"
      fxFlex="nogrow">
    </div>
    <div fxFlex class="timeline-traco" *ngIf="!ultimo"></div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column" fxFlex>
      <div class="evento-titulo"
        [style.color]="hover && config.clicavel ? config.cores.secundaria : config.cores.principal">
        {{ item.titulo }}
      </div>
      <div fxLayoutGap="8px" class="discreto" fxLayout="row">
        {{ item.descricao }}
      </div>
    </div>
    <div *ngIf="config.mostrarData" style="text-align: end;" class="discreto" fxFlex="120px">
      {{ item.data | dataHora:'LL' }}
    </div>
  </div>
</div>