.donut-inner {
  position: absolute;
  top: calc(50% - 30px);
  h5 {
    margin: 0;
    font-size: 1.6em;
  }
  span {
    font-size: 1em;
    font-weight: 500;
  }
}

.informacoes {
  h4, h3 {
    margin: 0;
  }
}