<div fxLayout="column" style="height: 100%;" fxLayoutGap="16px">
  <div fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px" fxFlex="nogrow">
      <button mat-icon-button (click)="location.back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>Sessões</h1>
    </div>
    <div fxLayoutAlign="end" *ngIf="sessoes?.length">
      <button mat-icon-button [matTooltip]="mostrarGraficos ? 'Esconder gráficos' : 'Mostrar gráficos'"
        [matTooltipPosition]="'left'" matTooltipHideDelay="100000" (click)="mostrarGraficos = !mostrarGraficos"
        color="accent">
        <mat-icon>show_chart</mat-icon>
      </button>
    </div>
  </div>
  <ng-container *ngIf="!carregando; else spinner">
    <ng-container *ngIf="sessoes?.length; else nenhumaSessao">
      <div fxLayout="row" fxFlex="40" fxLayoutAlign="center" fxLayoutGap="32px" *ngIf="mostrarGraficos">
        <div fxLayout="column" fxFlex>
          <div fxLayoutAlign="center" fxFlex class="donut-wrapper">
            <p-chart type="doughnut" height="100%" [data]="dataDonut" [options]="optionsDonut"></p-chart>
            <div class="donut-inner" fxLayout="column" fxLayoutAlign="center center">
              <h5>{{ total | moeda:true }}</h5>
              <span>Faltam receber</span>
              <span>{{ total - totalPago | moeda:true }}</span>
            </div>
          </div>
          <div fxLayoutAlign="center center" fxLayoutGap="24px" fxLayout="row" fxFlex="nogrow">
            <div fxFlex fxLayoutAlign="start center" fxLayout="column" class="informacoes">
              <h3>{{ totalSessoes }}</h3>
              <h4>{{ totalSessoes > 1 ? 'Sessões' : 'Sessão'}}</h4>
            </div>
            <div fxFlex fxLayoutAlign="start center" fxLayout="column" class="informacoes">
              <h3>{{ totalPago | moeda }}</h3>
              <h4>Reais recebidos</h4>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex fxHide.xs>
          <div fxLayoutAlign="center" fxFlex>
            <p-chart type="line" [data]="dataLinha" [options]="optionsLinha" height="100%" width="400px">
            </p-chart>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div fxFlex>
        <app-timeline [timeline]="timeLine" [options]="timeLineConfig" (selecao)="sessaoResumo($event)"></app-timeline>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #spinner>
    <mat-progress-spinner></mat-progress-spinner>
  </ng-template>
  <ng-template #nenhumaSessao>
    <h3 fxLayoutAlign="center" style="opacity: .64;">
      Não foi realizada nenhuma sessão ainda.
    </h3>
  </ng-template>
</div>