@import '../../../../styles/variables.scss';

.cabecalho {
  width: 100%;
}

.loader {
  background-color: $primary;
}

.container-geral {
  background-color: #fafafa;
  height: 100vh;
}

.conteudo {
  width: 100%;
  padding: 8px 16px;
  max-width: 1200px;
  min-width: 300px;
  overflow-y: auto;
}

.navegacao {
  padding: 24px;
}

mat-sidenav-container {
  mat-sidenav {
    background-color: #fafafa;
    border: none;
  }
  mat-sidenav-content {
    width: 100%;
  }
}
