<div class="container-geral" fxLayout="column">
  <div class="loader" fxFlex="4px">
    <app-loader></app-loader>
  </div>
  <div class="cabecalho no-print" fxFlex="nogrow" fxLayout="column">
    <app-toolbar fxFlex (toggleSidenav)="sidenavEsquerdoAberto = !sidenavEsquerdoAberto"></app-toolbar>
  </div>
  <mat-sidenav-container fxFlex>
    <mat-sidenav [(opened)]="sidenavEsquerdoAberto" [mode]="sidenavEsquerdoMode" fxFlex="250px"
      class="navegacao no-print">
      <app-navegacao-menu (click)="fecharSidenavEsquerdo()"></app-navegacao-menu>
    </mat-sidenav>
    <mat-sidenav class="no-print" [(opened)]="sidenavDireitoAberto" mode="side" fxFlex="200px" position="end">
    </mat-sidenav>
    <mat-sidenav-content fxLayoutAlign="center" fxFlex fxLayout="column">
      <div fxFlex class="conteudo">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>