<div fxLayout="column">
  <div fxLayoutAlign="start center" class="titulo-pagina" fxLayoutGap="16px">
    <button mat-icon-button (click)="location.back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Agenda</h1>
  </div>

  <full-calendar [plugins]="calendarPlugins" id="calendar" #calendar></full-calendar>

  <div fxLayout="row">
    <ng-container *ngIf="auth.user$ | async as user; else autorizar">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar style="background-size: cover;" src="{{ user.photoURL }}">
          <mat-card-title>{{ user.email }}</mat-card-title>
          <mat-card-subtitle>Sincronizado</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </ng-container>
  </div>
</div>

<ng-template #autorizar>
  <button mat-button (click)="auth.login()">AUTORIZAR</button>
</ng-template>