<mat-card>
  <ng-container *ngIf="formQuestao; else adicionarNovo">
    <ng-container *ngIf="naoSalvo; else visualizacao">
      <mat-card-content fxLayoutGap="8px" fxLayout="column">
        <form [formGroup]="formQuestao">
          <div fxLayoutGap="8px" fxLayout="row">
            <div fxFlex="100">
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Questão</mat-label>
                <input matInput formControlName="item" required>
                <mat-error *ngIf="formQuestao.get('item').hasError('required')">Campo obrigatório</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayoutGap="8px" fxLayout="row">
            <div fxFlex="100">
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Resposta</mat-label>
                <input matInput formControlName="resposta">
                <mat-error *ngIf="formQuestao.get('resposta').hasError('required')">Campo obrigatório</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card-content>
    </ng-container>
    <ng-template #visualizacao>
      <mat-card-header>
        <mat-card-subtitle>{{ formQuestao.get('item').value }}</mat-card-subtitle>
        <mat-card-title>{{ formQuestao.get('resposta').value }}</mat-card-title>
      </mat-card-header>
    </ng-template>
    <mat-card-actions align="end">
      <button mat-icon-button color="warn" *ngIf="questaoResposta.anamnese_avaliacao_item_id" (click)="remover.emit()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="accent" [disabled]="!formQuestao.valid" *ngIf="naoSalvo" (click)="editar()">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button color="accent" *ngIf="!naoSalvo" (click)="naoSalvo = !naoSalvo">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </ng-container>
  <ng-template #adicionarNovo>
    <div>
      <button mat-button (click)="adicionar()" color="accent">
        <mat-icon>add_circle_outline</mat-icon>
        Adicionar questão
      </button>
    </div>
  </ng-template>
</mat-card>